<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Avira</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>

  <body>

  <!--Nav Section-->
     <header>
    <div class="px-3 py-2 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="http://ecommerce/home" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img src="HomeImgs/logo.png" alt="..." class="rounded" width="150" height="100">
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="http://ecommerce/home" class="nav-link text-secondary">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                <h5><b>Home</b></h5>
              </a>
            </li>
              <li>
              <a href="http://ecommerce/allProducts/1" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                <h5><b>All</b></h5>
              </a>
            </li>
            <li>
              <a href="http://ecommerce/clothing" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                <h6><b>Clothing</b></h6>
              </a>
            </li>
            <li>
              <a href="http://ecommerce/beauty" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
               <h6><b>Beauty</b></h6>
              </a>
            </li>
            <li>
              <a href="http://ecommerce/footwear" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                <h6><b>Footwear</b></h6>
              </a>
            </li>
            <li>
              <a href="http://ecommerce/electronics" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                <h6><b>Electronics</b></h6>
              </a>
            </li>
            <li>
              <a href="http://ecommerce/feedback" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
              <h6><b>Feedback Form</b></h6>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3" style="float:right;">
      {# <div class="container d-flex flex-wrap" > #}
        {# <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form> #}

        
          <a href="http://ecommerce/login"><button type="button" class="btn btn-light text-dark me-2">Login</button></a>
          <a href="http://ecommerce/signup"><button type="button" class="btn btn-outline-dark">Sign Up</button></a>
      
      {# </div> #}
    </div>
  </header>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
